/* You can add global styles to this file, and also import other style files */
#btn-ganancias{
    color: grey;
}

#ganancias{
    color:grey;
}

#btn-total{
    color: grey;
}

#total{
    color:grey;
}

#modalFormButton{
    color:grey;
}
#guardar{
    color:grey;
}