<footer
  id="pie-pagina"
  class="bg-secondary text-black mt-5 p-1"
  style="
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: white;
  "
>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead text-center">
          &copy; <strong> Eze Decan</strong>
          <br />
          <strong> ezedecandido@gmail.com</strong>
          <br />
          <strong> AWSOME PRODUCTIVE SOFTWARE</strong>
        </p>
      </div>
    </div>
  </div>
</footer>
